:root {
  --blue-light: #002c5f;
  --blue-dark: #020d30;
  --electric-blue: #60ebff;
  --soft-electric-blue: #3bb4c7;
  --soft-medium-yellow: #ffbf71;
  --medium-yellow: #de9b47;
  --palatinate-blue: #362fd2;
  --true-blue:#005ddd;
}
