html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Hide scrollbar but allow scrolling */
  overflow-y: scroll;          /* Still allows scrolling */
  overflow-x: hidden;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Internet Explorer 10+ */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
  display: none;
}
