.service-card {
  flex: 0 0 300px;
  background-color: white;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 180, 216, 0.2);
  transition: transform 0.3s ease;
  color: #000f08;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  margin-top: 0;
  font-size: 1.4rem;
  color: #00b4d8;
}

.service-card p {
  font-size: 1rem;
  line-height: 1.6;
}
